__pycache__/
build/
.cache/
_build
.secure_files
*.tar.gz
*.pem
*.qcow2
*.img
*.cmake
**/CMakeFiles/**
CMakeCache.txt
Makefile
engine-service
radio-client
radio-service

secrets/**
**/inventory/**
**/users.htpasswd
env.sh
**/venv/**
tmp/**
hack.*
**hack**.yml
cheatsheet.md
.DS_Store