kind: Task
apiVersion: tekton.dev/v1
metadata:
  name: build-prepare
spec:
  params:
    # job parameters
    - name: JOB_ID
      description: "the reference used to track the job and access its assets"
      type: string
      default: ""
    # aib build parameters
    - name: MANIFEST_FILE
      description: "manifest file to build"
      type: string
      default: ""
  results:
    - name: EFFECTIVE_MANIFEST_FILE
      description: "effective manifest file used to build the image"
      type: string
    - name: VERSION
      description: "version of the build"
      type: string
  steps:
    - name: prepare-build
      image: ghcr.io/rhadp/pipeline:latest
      env:
        - name: PARAM_MANIFEST_FILE
          value: $(params.MANIFEST_FILE)
      script: |
        #!/usr/bin/env bash

        set -euo pipefail

        cd $(workspaces.source.path)

        git config --global --add safe.directory $(workspaces.source.path)

        # check if there are any tags, if not use a default version
        if git describe --tags --exact-match HEAD 2>/dev/null; then
          VERSION=$(git describe --tags --exact-match HEAD)
        elif git describe --tags 2>/dev/null; then
          VERSION=$(git describe --tags)
        else
          VERSION="$(git rev-parse --short HEAD)"
        fi
        VERSION=${VERSION#v} # remove the leading v prefix for version
        echo -n "$VERSION" > $(results.VERSION.path)
        
        # discover the manifest file
        if [ -n "$PARAM_MANIFEST_FILE" ] && [ -f "$PARAM_MANIFEST_FILE" ]; then
          MANIFEST_FILE="$PARAM_MANIFEST_FILE"
        else
          MANIFEST_FILE="manifests/simple.aib.yml"
        fi
        echo -n "$MANIFEST_FILE" > $(results.EFFECTIVE_MANIFEST_FILE.path)

  workspaces:
    - name: source