name: build the developer container image
on:
  workflow_dispatch:

jobs:
  build-container:
    uses: ./.github/workflows/build.yaml
    with:
      container_name: rhas-starter
    secrets: inherit
    permissions:
      packages: write
      contents: read
      id-token: write
      attestations: write
